<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>USER</title>
</head>
<body>
    <div th:if="${user} != null">
        <h1 th:text="'Welcome to '+ ${user.username}"/>
        <h3 th:text="'dob: ' + ${#dates.format(user.dob,'dd/MM/yyyy')}"/>
        <h3 th:text="'gender: ' + ${user.gender}"/>
        <h3 th:text="'address: ' + ${user.address}"/>
        <h3>
            Roles: 
            <span th:each="role : ${user.roles}">
                <span th:text="${role}"/>
            </span>   
        </h3>             
    </div>
</body>
</html>